**Practice Only No Copy and Paste from any sources.**

#Read the dataset (propertydata.csv) and identify the columns and their datatype

In [ ]:
from google.colab import files 
uploaded = files.upload()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
dataset=pd.read_csv('propertydata.csv')

In [ ]:
df1=pd.DataFrame(dataset,columns=['PID','ST_NUM','ST_NAME','OWN_OCCUPIED','NUM_BEDROOMS','NUM_BATH','SQ_FT'])
print(df1.dtypes)

PID             float64
ST_NUM          float64
ST_NAME          object
OWN_OCCUPIED     object
NUM_BEDROOMS     object
NUM_BATH         object
SQ_FT            object
dtype: object

#Describe the dataset

In [ ]:
#
dataset.describe()

                PID      ST_NUM
count  8.000000e+00    7.000000
mean   1.000050e+08  191.428571
std    2.927700e+03   39.080503
min    1.000010e+08  104.000000
25%    1.000028e+08  199.000000
50%    1.000050e+08  203.000000
75%    1.000072e+08  210.000000
max    1.000090e+08  215.000000

#Display the street number (ST_NUM) and check any NaN values.

In [ ]:
dataset['ST_NUM']

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: ST_NUM, dtype: float64

In [ ]:
dataset['ST_NUM'].isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: ST_NUM, dtype: bool

In [ ]:
dataset['ST_NUM'].isnull().sum()

2

#Print the number of bedrooms (NUM_BEDROOMS) and check any NaN values.

In [ ]:
#
dataset['NUM_BEDROOMS']

0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7      1
8     na
Name: NUM_BEDROOMS, dtype: object

In [ ]:
dataset['NUM_BEDROOMS'].isnull().sum()

2

#There are few missing values like ["n/a", "na",  "--"] Apply some technique to replace these values with NaN.

In [ ]:
#
blank=['n/a','na','--']
df4=pd.read_csv('propertydata.csv',na_values=blank)
print(df4)

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

#Fill the ST_NUM by the maximum number of houses in a particular street

In [ ]:
dataset.fillna(dataset.max())

<ipython-input-20-9617a0e8a3dd>:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset.fillna(dataset.max())

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000
1  100002000.0   197.0   LEXINGTON            N            3      1.5    --
2  100003000.0   215.0   LEXINGTON            N          NaN        1   850
3  100004000.0   201.0    BERKELEY           12            1      NaN   700
4  100009000.0   203.0    BERKELEY            Y            3        2  1600
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800
6  100007000.0   215.0  WASHINGTON          NaN            2   HURLEY   950
7  100008000.0   213.0     TREMONT            Y            1        1   NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800